<button id="allAssignmentsTab" class="px-2 py-1 bg-gray-100 active:bg-gray-200" onclick="showTab('all')">All Assignments</button>
<button id="myAssignmentsTab" class="px-2 py-1 bg-gray-100 active:bg-gray-200" onclick="showTab('my')">My Assignments</button>
