<button data-action="click->tab-toggle#showTab" data-tab="all" data-tab-toggle-target="allAssignmentsTab" class="px-2 py-1 bg-gray-100 active:bg-gray-200 rounded-t-lg">All Assignments</button>
<button data-action="click->tab-toggle#showTab" data-tab="my" data-tab-toggle-target="myAssignmentsTab" class="px-2 py-1 bg-gray-100 bg-gray-200 rounded-t-lg">My Assignments</button>
